@model List<MeetingRoomDetails>

@{
    int roomsPerRow = 3;
    int roomCount = 0;
}

@foreach (var room in Model)
{
    if (roomCount % roomsPerRow == 0)
    {
        @:<div class="room-row">
    }

    <div class="room-container" id="@room.MeetingRoomID" data-room-name="@room.MeetingRoomName" style="background-color: @(room.MeetingRoomTakenSpaces >= room.MeetingRoomCapacity ? "#ff7a7a" : "#7bef7d");">
        <h4>@room.MeetingRoomName</h4>
        <p style="text-align: center;">@room.MeetingRoomTakenSpaces / @room.MeetingRoomCapacity</p>
    </div>

    roomCount++;

    if (roomCount % roomsPerRow == 0 || roomCount == Model.Count)
    {
        @:</div>
    }
}
