@model MeetingRoomBooking

@{
    string startDateTime = @Model.StartDateTime.ToString("dd-MMM-yyyy HH:mm");
    string endDateTime = @Model.EndDateTime.ToString("dd-MMM-yyyy HH:mm");
}

<div id="popupForm" class="popup">
    <div class="popup-content">
        <div>
            <i id="btnClosePopUp" style="font-size: 2rem; float: right;" class="fa-solid fa-xmark" title="Close"></i>
            <h4 style="padding-top: 30px;">Booking a meeting room</h4>
        </div>
        <div class="booking-room">
            <div>
                <input type="hidden" id="hdnBookingMeetingRoomID" name="MeetingRoomID" value="@Model.MeetingRoomID" />
                <input type="hidden" id="hdnBookingMeetingRoomName" name="MeetingRoomName" value="@Model.MeetingRoomName" />
            </div>
            <div>
                <label class="param-label booking-room-label" for="txtBookingStartDateTime">Start date / time:</label>
            </div>
            <div>
                <input type="text" readonly class="param-control booking-room-control disabled-input" id="txtBookingStartDateTime" name="StartDateTime" value="@startDateTime" />
            </div>
            <div>
                <label class="param-label booking-room-label" for="txtBookingEndDateTime">End date / time:</label>
            </div>
            <div>
                <input type="text" readonly class="param-control booking-room-control disabled-input" id="txtBookingEndDateTime" name="EndDateTime" value="@endDateTime" />
            </div>
            <div>
                <label class="param-label booking-room-label" for="txtBookingFullName">Name:</label>
            </div>
            <div>
                <input type="text" readonly class="param-control booking-room-control disabled-input" id="txtBookingFullName" name="FullName" value="@Model.FullName" />
            </div>
            <button id="btnSaveBooking">Save</button>
        </div>
    </div>
</div>

<div id="overlay" class="overlay"></div>
